**You must use Pandas to answer the following questions:**

1. [x] How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
2. [x] What is the average age of men?
3. [x] What is the percentage of people who have a Bachelor's degree?
4. [x] What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
5. [ ] What percentage of people without advanced education make more than 50K?
6. [ ] What is the minimum number of hours a person works per week?
7. [ ] What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
8. [ ] What country has the highest percentage of people that earn >50K and what is that percentage?
9. [ ] Identify the most popular occupation for those who earn >50K in India.

In [2]:
import pandas as pd

adult_pop_df = pd.read_csv('adult.data.csv')

In [3]:
adult_pop_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
adult_pop_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [5]:
adult_pop_df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [6]:
adult_pop_df[['age', 'sex']]

       age     sex
0       39    Male
1       50    Male
2       38    Male
3       53    Male
4       28  Female
...    ...     ...
32556   27  Female
32557   40    Male
32558   58  Female
32559   22    Male
32560   52  Female

[32561 rows x 2 columns]

In [7]:
male_age_series = adult_pop_df.loc[adult_pop_df['sex'] == 'Male', ['age']]

In [8]:
male_age_series.mean()

age    39.433547
dtype: float64

What is the percentage of people who have a Bachelor's degree?

In [9]:
adult_pop_df['education']

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

In [10]:
bach_degree_count = adult_pop_df.loc[adult_pop_df['education'] == 'Bachelors', 'education'].count()

In [11]:
edu_count = adult_pop_df['education'].count()

In [12]:
percent_degree = (bach_degree_count/edu_count)*100

In [13]:
percent_degree

np.float64(16.44605509658794)

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [21]:
advanced_edu = ['Bachelors', 'Masters', 'Doctorate']

In [22]:
advanced_edu_df = adult_pop_df[adult_pop_df['education'].isin(advanced_edu)]

In [23]:
high_earners = advanced_edu_df[advanced_edu_df['salary'] == '>50K']

In [25]:
percentage = (len(high_earners) / len(advanced_edu_df)) * 100

In [26]:
percentage

46.535843011613935

What percentage of people without advanced education make more than 50K?

In [27]:
non_advanced_edu = ['HS-grad', '11th', '9th']

In [28]:
non_adv_edu_df = adult_pop_df[adult_pop_df['education'].isin(non_advanced_edu)]

In [29]:
another_high_earners = non_adv_edu_df[non_adv_edu_df['salary'] == '>50K']

In [30]:
percentage_non_edu = (len(another_high_earners) / len(non_adv_edu_df)) * 100

In [31]:
percentage_non_edu

14.454470877768664